

NET "tentativa[0]" LOC = V8;
NET "tentativa[1]" LOC = U10;
NET "tentativa[2]" LOC = U8;
NET "b_clk" LOC = R13;
NET "clk" LOC = E12;
NET "reset" LOC = T9;
NET "RS" LOC = Y14;
NET "RW" LOC = W13;
NET "E" LOC = AB4;
NET "DB[7]" LOC = Y15;
NET "DB[6]" LOC = AB16;
NET "DB[5]" LOC = Y16;
NET "DB[4]" LOC = AA12;
NET "DB[3]" LOC = AB12;
NET "DB[2]" LOC = AB17;
NET "DB[1]" LOC = AB18;
NET "DB[0]" LOC = Y13;
NET "vidas[2]" LOC = U20;
NET "vidas[1]" LOC = T19;
NET "vidas[0]" LOC = R20;

# PlanAhead Generated IO constraints 

NET "tentativa[2]" IOSTANDARD = LVCMOS33;
NET "tentativa[1]" IOSTANDARD = LVCMOS33;
NET "tentativa[0]" IOSTANDARD = LVCMOS33;
NET "DB[7]" IOSTANDARD = LVCMOS33;
NET "DB[6]" IOSTANDARD = LVCMOS33;
NET "DB[5]" IOSTANDARD = LVCMOS33;
NET "DB[4]" IOSTANDARD = LVCMOS33;
NET "DB[3]" IOSTANDARD = LVCMOS33;
NET "DB[2]" IOSTANDARD = LVCMOS33;
NET "DB[1]" IOSTANDARD = LVCMOS33;
NET "DB[0]" IOSTANDARD = LVCMOS33;
NET "b_clk" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "E" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "RS" IOSTANDARD = LVCMOS33;
NET "RW" IOSTANDARD = LVCMOS33;
NET "vidas[2]" IOSTANDARD = LVCMOS33;
NET "vidas[1]" IOSTANDARD = LVCMOS33;
NET "vidas[0]" IOSTANDARD = LVCMOS33;